* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: url(../img/background.jpg);
    background-repeat: no-repeat;
}

div {
    margin-top: 3%;
    margin-left: 30%;
    border: 2px solid #5100b5cf;
    width: 500px;
    padding: 0px;
    border-radius: 10px;
    opacity: 0.9;
}

form {
    color: #fff;
}


h1 {
    font-size: 36px;
    text-align: center;
    color: #fff;
}

label {
    margin-left: 5%;
    font-size: 25px;
}

label input {
    width: 90%;
    font-size: 16px;
    border-radius: 10px;
    align-items: center;
    margin-left: 5%;
    height: 50px;
    border-color: #5100b5cf;
}

.btn {
    border: 2px solid #000;
    font-size: 20px;
    border-radius: 10px;
    background-color: #5100b5cf;
    color: #fff;
    width: 90%;
    margin: 5%;
    height: 50px;
}

.btn:hover{
    background-color: #640ecdcf;
}