* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: url(../img/background.jpg);
}

/* a {
    text-decoration: none;
    color: #5100b5cf;
} */

/* a:hover {
    text-decoration: underline;
} */

table {
    margin-top: 1%;
    margin-left: 1%;
    border: 2px solid #000;
    width: 98%;
    padding: 0px;
    border-radius: 5px;
}

table tr th {
    border: 2px solid #000;
    font-size: 20px;
    border-radius: 5px;
    background-color: #5100b5cf;
    color: #fff;
}

table tr td {
    border: 2px solid #000;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
    color: #5100b5cf;
}

table tr td a {
    padding: 2px;
    border: 2px solid #000;
    border-radius: 5px;
    margin: 10px;
}

table tr td a.adicionar {
    background-color: rgba(51, 91, 72, 0.745);;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

table tr td a.adicionar:hover {
    background-color: #017b2acf;
}

table tr td a.editar {
    background-color: rgba(86, 85, 68, 0.745);
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

table tr td a.editar:hover {
    background-color: #ffff00;
    color: #000;
}

table tr td a.excluir {
    background-color: rgba(91, 51, 61, 0.745);;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

table tr td a.excluir:hover {
    background-color: #b50000cf;
}



